repos:
  - repo: https://github.com/johann-petrak/licenseheaders.git
    rev: 'v0.8.8'
    hooks:
      - id: licenseheaders
        exclude: (doc/ReleaseNotes.md)
        args: ["-t", ".github/templates/apache-2.tmpl", "-y2020-2024",
        "-o", "Key4hep-Project",
        "-n", "Key4hep",
        "-u", "https://key4hep.github.io/key4hep-doc/",
        "-x", ".github/*", ".pre-commit-config.yaml", "readme.md",
              ".zenodo.json", ".gitlab-ci.yml",
        "-f",]
